// SPDX-License-Identifier: Apache-2.0
// Zynax — Go workspace
// All platform services (Go). Agents/adapters are Python (separate pyproject.toml).

go 1.26.3

use (
	./protos/generated/go
	./services/api-gateway
	./services/engine-adapter
	./services/workflow-compiler
)
