// SPDX-License-Identifier: Apache-2.0
// Zynax — Go workspace
// Platform services and Go adapters. Python agents use separate pyproject.toml files.

go 1.26.3

use (
	./agents/adapters/http
	./protos/generated/go
	./services/api-gateway
	./services/engine-adapter
	./services/task-broker
	./services/workflow-compiler
)
